<div class="col-12 col-sm-12 col-md-4 col-lg-3" style="margin-top: 20px;">
  <aside id="sj-sidebar" class="sj-sidebar">
    <div class="sj-widget sj-widgetsearch">
      <div class="sj-widgetcontent">
        <form class="sj-formtheme sj-formsearch">
          <fieldset>
            <input type="search" name="search" class="form-control suggestions" placeholder="Search here">
            <button class="sj-btnsearch search-btn"><i class="lnr lnr-magnifier"></i></button>
          </fieldset>
        </form>
      </div>
      <ul class="list-of-suggestions" style="background: #fff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);"></ul>
    </div>
    <!-- <div class="sj-widget sj-widgetimpactfector">
      <div class="sj-widgetcontent">
        <ul>
          <li>
            <h3>Impact Factor<span>2.125</span></h3>
            <h3>5 Year Impact Factor<span>2.853</span></h3>
          </li>
          <li>
            <h3>Dr. Desmond Bratton</h3>
            <div class="sj-description">
              <p>Consectetur adipisicing elit sedo amod tempor incididunt. <a href="javascript:void(0)">Read More</a></p>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="sj-widget sj-widgetnoticeboard">
      <div class="sj-widgetheading">
        <h3 style="font-weight: bolder; font-size: larger;">Scope</h3>
      </div>
      <div class="sj-widgetcontent">
        <% if(scopeOfArticle){ %>
        <%= scopeOfArticle.scope %>
        <% } %>

      </div>
    </div>
  </aside>
</div>