<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %> | The Flagship Journal</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/fontawesome/fontawesome-all.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/linearicons.css">
  <link rel="stylesheet" href="/css/themify-icons.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/chartist.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/color.css">
  <link rel="stylesheet" href="/css/transitions.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body class="sj-home">
  <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
  <!--************************************
				Preloader Start
	*************************************-->
  <div class="preloader-outer">
    <div class='loader'>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
    </div>
  </div>
  <!--************************************
				Preloader End
	*************************************-->
  <!--************************************
			Wrapper Start
	*************************************-->
  <div id="sj-wrapper" class="sj-wrapper">
    <!--************************************
				Content Wrapper Start
		*************************************-->
    <div class="sj-contentwrapper">
      <!--************************************
					Header Start
			*************************************-->
      <header id="sj-header" class="sj-header sj-haslayout">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="sj-topbar">
                <ul class="sj-socialicons sj-socialiconssimple">
                  <li class="sj-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="sj-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                  <li class="sj-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                  <li class="sj-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
                <div class="sj-languagelogin">
                  <% if(!user){ %>
                  <div class="sj-loginarea">
                    <ul class="sj-loging">
                      <li><a href="/login">Login</a></li>
                      <li><a href="/sign-up">Register</a></li>
                    </ul>
                  </div>
                  <% } %>
                  <% if(user) { %>
                  <div class="sj-loginarea" style="display: flex; align-items: center;">
                    <i class="fa fa-user" style="font-size: 35px; color: #6E3F29;"></i>
                    <a href="/account" style="text-decoration: none;">
                      <div class="sj-loginusername" style="display: inline-block;">
                        <h3>Hi, <%= user.firstName %></h3>
                        <!-- <span>Author</span> -->
                      </div>
                    </a>
                  </div>
                  <% } %>
                </div>
              </div>
              <div class="sj-navigationarea">
                <strong class="sj-logo"><a href="/"><img src="/images/logo.png" alt="company logo here"></a></strong>
                <div class="sj-rightarea">
                  <nav id="sj-nav" class="sj-nav navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="lnr lnr-menu"></i>
                    </button>
                    <div class="collapse navbar-collapse sj-navigation" id="navbarNav">
                      <ul>
                        <li>
                          <a href="/"><i class="lnr lnr-home"></i> Home</a>
                        </li>
                        <li>
                          <a href="/about-us">About</a>
                        </li>
                        <li>
                          <a href="/editorial-team">Editorial Team</a>
                        </li>
                        <li>
                          <a href="/submission-guidelines">Submission Guidelines</a>
                        </li>
                        <li><a href="/journal-issues">Journal Issues</a></li>
                        <li>
                          <a href="/events">Events</a>
                        </li>
                        <li>
                          <a href="/contact-us">Contact</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                  <!-- <a class="sj-btntopsearch" href="index.html#sj-searcharea"><i class="lnr lnr-magnifier"></i></a> -->
                  <% if(user){ %>
                  <a class="sj-btn sj-btnactive" href="/submit-article">Submit Your Article</a>
                  <% }else{ %>
                  <a class="sj-btn sj-btnactive" href="/login">Submit Your Article</a>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!--************************************
					Header End
			*************************************-->