<!--************************************
					Footer Start
			*************************************-->
<footer id="sj-footer" class="sj-footer sj-haslayout">
  <div class="container">
    <div class="row">
      <a class="sj-btnscrolltotop" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
      <div class="sj-footercolumns">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
          <div class="sj-fcol sj-footeraboutus">
            <strong class="sj-logo">
              <a href="/"><img src="/assets/images/logo.jpeg" alt="image description"></a>
            </strong>
            <div class="sj-description">
              <p>The Flagship is a praxis-oriented journal that seeks to bridge the gap between research and practice... <a href="/about-us">Read More</a></p>
            </div>
            <!-- <ul class="sj-socialicons sj-socialiconssimple">
              <li class="sj-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
              <li class="sj-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
              <li class="sj-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="sj-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
              <li class="sj-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
            </ul> -->
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
          <div class="sj-fcol sj-widget sj-widgetusefullinks">
            <div class="sj-widgetheading">
              <h3>By Specialty</h3>
            </div>
            <div class="sj-widgetcontent">
              <ul>
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="/journal-issues">Journal Issues</a></li>
                <li><a href="/submission-guidelines">Submission Guidelines</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
          <div class="sj-fcol sj-widget sj-widgetresources">
            <div class="sj-widgetheading">
              <h3>Resources</h3>
            </div>
            <div class="sj-widgetcontent">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About</a></li>
                <li><a href="/editorial-team">Editorial Team</a></li>
                <li><a href="/events">Events</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
          <div class="sj-fcol sj-widget sj-widgetcontactus">
            <div class="sj-widgetheading">
              <h3>Get In Touch</h3>
            </div>
            <div class="sj-widgetcontent">
              <ul>
                <!-- <li><i class="lnr lnr-home"></i>
                  <address>123 Office St, ABC Building, Melbourne, Australia. </address>
                </li> -->
                <li><a href="tel:+2348030958707"><i class="lnr lnr-phone"></i><span>+234(0)8030958707</span></a></li>
                <li><a href="tel:+2348037849366"><i class="lnr lnr-phone"></i><span>+234(0)8037849366</span></a></li>
                <li><a href="mailto:cjnebeife@gmail.com"><i class="lnr lnr-envelope"></i><span>cjnebeife@gmail.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="sj-footerbottom">
        <p class="sj-copyrights">© 2024 <span>The Flagship Journal</span>. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
<!--************************************
                                  Footer End
                          *************************************-->
</div>
<!--************************************
                              Content Wrapper End
                      *************************************-->
</div>
<!--************************************
                          Wrapper End
                  *************************************-->
<!--************************************
                          Search Start
                  *************************************-->
<div id="sj-searcharea" class="sj-searcharea">
  <button type="button" class="close">×</button>
  <form class="sj-formtheme sj-formsearcmain">
    <input type="search" value="" placeholder="Search Here..." />
    <button type="submit" class="sj-btn sj-btnactive"><span>Search</span></button>
  </form>
</div>
<!--************************************
                          Search End
                  *************************************-->
<script src="/assets/js/vendor/jquery-3.3.1.js"></script>
<script src="/assets/js/vendor/jquery-library.js"></script>
<script src="/assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/circle-progress.js"></script>
<script src="/assets/js/scrollbar.min.js"></script>
<script src="/assets/js/chartist.min.js"></script>
<script src="/assets/js/countdown.js"></script>
<script src="/assets/js/appear.js"></script>
<script src="/assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/assets/js/api.js"></script>
</body>

</html>