<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %> | The Flagship Journal</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/fontawesome/fontawesome-all.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/linearicons.css">
  <link rel="stylesheet" href="/css/themify-icons.css">
  <link rel="stylesheet" href="/css/scrollbar.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/chartist.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/color.css">
  <link rel="stylesheet" href="/css/transitions.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body class="sj-userlogin">
  <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
  <!--************************************
				Preloader Start
	*************************************-->
  <div class="preloader-outer">
    <div class='loader'>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
    </div>
  </div>
  <!--************************************
				Preloader End
	*************************************-->
  <!--************************************
			Wrapper Start
	*************************************-->
  <div id="sj-wrapper" class="sj-wrapper">
    <!--************************************
				Content Wrapper Start
		*************************************-->
    <div class="sj-contentwrapper">
      <!--************************************
					Header Start
			*************************************-->
      <header id="sj-header" class="sj-header sj-haslayout">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="sj-topbar">
                <ul class="sj-socialicons sj-socialiconssimple">
                  <li class="sj-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="sj-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                  <li class="sj-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                  <li class="sj-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
                <div class="sj-languagelogin">
                  <div class="sj-userloginarea">
                    <a href="javascript:void(0);">
                      <i class="fa fa-angle-down"></i>
                      <img src="/images/user-img.jpg" alt="image description">
                      <div class="sj-loginusername">
                        <h3>Hi, <%= user.firstName %></h3>
                        <span><%= user.role %></span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="sj-navigationarea">
                <strong class="sj-logo"><a href="/"><img src="/images/logo.png" alt="company logo here"></a></strong>
                <!-- <div class="sj-rightarea">
                  <nav id="sj-nav" class="sj-nav navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="lnr lnr-menu"></i>
                    </button>
                    <div class="collapse navbar-collapse sj-navigation" id="navbarNav">
                      <ul>
                        <li class="menu-item-has-children page_item_has_children">
                          <a href="javascript:void(0);"><i class="lnr lnr-home"></i></a>
                          <ul class="sub-menu">
                            <li><a href="index.html">Home V One</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="aboutus.html">About us</a>
                        </li>
                        <li class="menu-item-has-children page_item_has_children">
                          <a href="javascript:void(0);">Articles</a>
                          <ul class="sub-menu">
                            <li><a href="articles.html">Articles</a></li>
                            <li><a href="aticle-list.html">Aticle List</a></li>
                            <li><a href="articledetail.html">Article Detail</a></li>
                            <li><a href="submitarticle.html">Submit Article</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children page_item_has_children">
                          <span class="sj-tagnew">New</span>
                          <a href="javascript:void(0);">Issues</a>
                          <ul class="sub-menu">
                            <li><a href="issuesweeks.html">Issues Weeks</a></li>
                            <li><a href="issuesyears.html">Issues Years</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children page_item_has_children current-menu-item">
                          <a href="javascript:void(0);">Pages</a>
                          <ul class="sub-menu">
                            <li class="menu-item-has-children page_item_has_children">
                              <a href="javascript:void(0);">News</a>
                              <ul class="sub-menu">
                                <li><a href="newsgrid.html">News Grid</a></li>
                                <li><a href="newslist.html">News List</a></li>
                                <li><a href="newsdetail.html">News Detail</a></li>
                              </ul>
                            </li>
                            <li class="menu-item-has-children page_item_has_children">
                              <a href="javascript:void(0);">Manage User</a>
                              <ul class="sub-menu">
                                <li><a href="manageuser.html">Manage User</a></li>
                                <li><a href="manageeditions.html">Manage Editions</a></li>
                              </ul>
                            </li>
                            <li class="menu-item-has-children page_item_has_children">
                              <a href="javascript:void(0);">Settings</a>
                              <ul class="sub-menu">
                                <li><a href="accountsettings.html">Account Settings</a></li>
                                <li><a href="generalsettings.html">General Settings</a></li>
                              </ul>
                            </li>
                            <li><a href="authorguideline.html">Author Guideline</a></li>
                            <li><a href="underreview.html">Under Review</a></li>
                            <li><a href="addtemplates.html">Add Templates</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li class="menu-item-has-children page_item_has_children">
                              <a href="javascript:void(0);">Login</a>
                              <ul class="sub-menu">
                                <li><a href="loginregister.html">Login Register</a></li>
                                <li><a href="loginregistervtwo.html">Login Register V Two</a></li>
                              </ul>
                            </li>
                            <li><a href="404error.html">404 Error</a></li>
                            <li><a href="comingsoon.html">Coming Soon</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </nav>
                  <a class="sj-btntopsearch" href="accountsettings.html#sj-searcharea"><i class="lnr lnr-magnifier"></i></a>
                  <a class="sj-btn sj-btnactive" href="javascript:void(0);">Submit Your Article</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <!--************************************
					Header End
			*************************************-->