<%- include('partials/landingPageHeader.ejs') %>
<!--************************************
					Inner Banner Start
			*************************************-->
<div class="sj-innerbanner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sj-innerbannercontent">
          <h1>A Brief Introduction</h1>
          <ol class="sj-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="javascript:void(0);">About</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!--************************************
					Inner Banner End
			*************************************-->
<!--************************************
					Main Start
			*************************************-->
<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
  <div id="sj-twocolumns" class="sj-twocolumns">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
          <div id="sj-content" class="sj-content">
            <div class="sj-aboutus">
              <figure class="sj-aboutusimg"><img src="/assets/images/aboutus.jpeg" alt="image description"></figure>
              <div class="sj-introduction sj-sectioninnerspace">
                <h4>About the journal</h4>
                <div class="sj-description">
                  <p>The Flagship is a praxis-oriented journal that seeks to bridge the gap between research and practice. Although it is non-institutionally affiliated, it maintains zero-tolerance to predatory tendencies and allied publishing frauds. It is also committed the established rules and ethics of professional journal publishing, including rigorous blind review and anti-plagiarism.</p>
                  <p>The journal is deliberately multi-disciplinary in scope, accepting theoretical, empirical, and policy/ practice-oriented manuscripts of diverse methodological approaches. It is an open-access journal that adheres to the standards of double blinded peer-review. The Journal is committed to publishing peer-reviewed articles that make significant contributions to politics, governance and development as well as in peace and conflict resolution and in security matters.</p>
                  <p>Papers publishable in the Flagship must be theoretically and/ or empirically grounded, with strong and significant implications for policy and practice. Focal areas of interest for the journal include, but not limited to, the following:</p>
                  <ul>
                    <li>Political economy</li>
                    <li>Security studies</li>
                    <li>Development studies</li>
                    <li>Democratic studies</li>
                    <li>Policy and governance</li>
                    <li>International relations/studies</li>
                    <li>Diplomatic history</li>
                    <li>Intergroup relations</li>
                    <li>Conflict and peace</li>
                    <li>Public administration</li>
                    <li>Development economic</li>
                    <li>Religion abd ethics</li>
                    <li>Philosophy</li>
                    <li>Sociology</li>
                    <li>Gender and development</li>
                    <li>Political ecology</li>
                    <li>Agribusiness</li>
                    <li>Entrepreneurship</li>
                    <li>Social psychology</li>
                    <li>Heritage studies</li>
                    <li>Any other fields of liberal studies</li>
                  </ul>
                  <p>The Flagship is an online journal with a flexible and continuous issuing cycle.
                    Once a paper has been accepted after due editorial and peer review, it is scheduled for online publication.</p>
                  <p>No charges apply for manuscripts under consideration/ review until formal acceptance is communicated.</p>
                  <p>Authors of works published in the journal are entitled to e-complimentary copies, and this is granted as soon as the online publication is made.</p>
                  <p>The recommended referencing/ citation format for the journal publishing is the current APA or MLA style (at the time of submission)</p>
                  <p>The minimum threshold for a manuscript's volume is 3, 500 words while the maximum threshold is 7, 000 words.</p>
                  <p>Excessive quantification and use of jargons are not acceptable.</p>
                  The manuscript handling charges per accepted manuscript is: <br>
                  Nigeria - N30, 000.00 <br>
                  Foreign - USD25.00
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('partials/aside.ejs') %>
      </div>
    </div>
  </div>
</main>
<!--************************************
					Main End
			*************************************-->
<%- include('partials/landingPageFooter.ejs') %>