<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
  <title><%= title %> | The Flagship Journal</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/fontawesome/fontawesome-all.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/linearicons.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="/assets/css/chartist.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/color.css">
  <link rel="stylesheet" href="/assets/css/transitions.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script src="https://kit.fontawesome.com/fe5872a91f.js" crossorigin="anonymous"></script>
</head>

<body class="sj-home">
  <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
  <!--************************************
				Preloader Start
	*************************************-->
  <div class="preloader-outer">
    <div class='loader'>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
    </div>
  </div>
  <!--************************************
				Preloader End
	*************************************-->
  <!--************************************
			Wrapper Start
	*************************************-->

  <h3 style="text-align: center; margin-top: 100px;">Go to your email and confirm your email address</h3>

  <script src="/assets/js/vendor/jquery-3.3.1.js"></script>
  <script src="/assets/js/vendor/jquery-library.js"></script>
  <script src="/assets/js/vendor/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/circle-progress.js"></script>
  <script src="/assets/js/scrollbar.min.js"></script>
  <script src="/assets/js/chartist.min.js"></script>
  <script src="/assets/js/countdown.js"></script>
  <script src="/assets/js/appear.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>