<%- include('partials/landingPageHeader.ejs') %>

<div class="sj-innerbanner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sj-innerbannercontent">
          <h1>Contact Us</h1>
          <ol class="sj-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="javascript:void(0);">Contact</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>



<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
  <div id="sj-twocolumns" class="sj-twocolumns">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
          <div id="sj-content" class="sj-content">
            <div class="sj-aboutus">
              <h3 style="font-weight: bold;">Contact Us</h3>
              <form class="sj-formtheme sj-formlogin support-form-faq">
                <fieldset>
                  <div class="row">
                    <div class="col-12 col-lg-6 col-xl-6 col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="fullName" placeholder="Full Name">
                      </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6 col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6 col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
                      </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6 col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Message" id="message"></textarea>
                  </div>
                  <div class="sj-btnarea">
                    <button class="sj-btn sj-btnactive support-faq-btn">Send Message</button>
                  </div>
                </fieldset>
              </form>
              <div style="height: 470px;"></div>
              <div class="row">
                <div class="col-12 col-xl-6 col-lg-6 col-md-6" style="margin-top: 10px;">
                  <span style="font-weight: bolder;">Dr. Nebeife Chigozie Joseph</span> <br>
                  <a href="tel:+2348030958707">+234(0)8030958707</a> <br>
                  <span style="font-weight: bolder;">Editorial Secretary</span>
                </div>
                <div class="col-12 col-xl-6 col-lg-6 col-md-6" style="margin-top: 10px;">
                  <span style="font-weight: bolder;">Dr. Al Chukwuma Okoli</span> <br>
                  <a href="tel:+2348037849366">+234(0)8037849366</a> <br>
                  <span style="font-weight: bolder;">Editor-in-chief</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('partials/aside.ejs') %>
      </div>
    </div>
  </div>
</main>


<%- include('partials/landingPageFooter.ejs') %>