<%- include('partials/landingPageHeader.ejs') %>

<div class="sj-innerbanner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sj-innerbannercontent">
          <h1>Editorial Members</h1>
          <ol class="sj-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="javascript:void(0);">Editorial team</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
  <div class="sj-haslayout">
    <div class="container">
      <h4 style="font-weight: bold;">Editorial Team</h4>
      <div style="height: 20px;"></div>
      <h5 style="text-decoration: underline;">Editor-in-chief</h5>
      <p> <span style="font-weight: bold;">Okoli Chukwuma, Ph.D, </span>Department of Political Science, Federal University of Lafia,
        Nigeria.</p>
      <h5 style="text-decoration: underline;">Editorial Secretary</h5>
      <p> <span style="font-weight: bold;">Nebeife Chigozie Joseph, Ph.D, </span>Department of Political Science, Federal Wukari- Nigeria.</p>
      <h5 style="text-decoration: underline;">Editorial Board Members</h5>
      <p> <span style="font-weight: bold;">Solomon T. Anjide, Ph.D, </span>National Institute for Policy and Strategic Studies (NIPSS), Kuru, Jos, Nigeria</p>
      <p> <span style="font-weight: bold;">George A. Atelhe, Ph.D, </span>Department of Political Science, University of Calabar, Nigeria</p>
      <p> <span style="font-weight: bold;">Edward N. Lenshie, Ph.D, </span>Department of Political Science and International Relations, Taraba State University, Jalingo, Nigeria</p>
      <p> <span style="font-weight: bold;">Chika E. Eze, Ph.D, </span>Department of Psychology, Veritas University, Abuja, Nigeria</p>
      <p> <span style="font-weight: bold;">Philip T. Iortyer, Ph.D, </span>Department of History and International Studies, Federal University of Lafia, Nigeria</p>
      <p> <span style="font-weight: bold;">Cornelius O. Ogayi, Ph.D, </span>General Studies Unit, Federal Polytechnic, Ohodo, Nigeria</p>
      <h5 style="text-decoration: underline;">Editorial Advisors</h5>
      <p> <span style="font-weight: bold;">Saliou Ngom, Ph.D, </span>Department of Political Science, Anta Diop University, Dakar, Senegal.</p>
      <p> <span style="font-weight: bold;">Dominic D. Arthur, Ph.D, </span>Department of Social, Political and Historical Studies, University of Development Studies, Ghana</p>
      <p> <span style="font-weight: bold;">Francis N. Okpaleke, Ph.D, </span>Independent Scholar, Canada</p>
    </div>
  </div>
</main>
<%- include('partials/landingPageFooter.ejs') %>