<%- include('partials/landingPageHeader.ejs') %>

<div class="sj-innerbanner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sj-innerbannercontent">
          <h1>Submission Guidelines</h1>
          <ol class="sj-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="javascript:void(0);">Submissions</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>



<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
  <div id="sj-twocolumns" class="sj-twocolumns">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
          <div id="sj-content" class="sj-content">
            <div class="sj-aboutus">
              <h3 style="font-weight: bold;">Guidelines To Authors</h3>
              <div style="height: 20px;"></div>
              <!-- <h5 style="text-decoration: underline;">Editor-in-chief</h5> -->
              <p>Completed papers should be typeset in Microsoft word and double-spaced,
                while the text should be in Times New Roman, 12 font size, and not exceeding 20
                pages. The recommended referencing format is APA with
                in-text citations consistent with the format.</p>
            </div>
          </div>
        </div>
        <%- include('partials/aside.ejs') %>
      </div>
    </div>
  </div>
</main>


<%- include('partials/landingPageFooter.ejs') %>